body {
    display:inline-block;
    width: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 192px;
}

li {
    display:inline;
    padding: 10px;

}

nav {
    float: right;
    margin-top: 40px;
    width: 50%;
}
h1 {
    float:left;
    width: 50%;
}
.header-img{
    align-content:center;
}
.main {
    float:left;
    width: 75%;
}
.subsection {
    width: 25%;
}

footer {
    padding-top: 400px;
}
/*mobile devices*/
@media screen and (max-width:375px){
    body {
        display: inline;
    }
    nav {
        width: 50px;
        float: left;
    }
    h1 {
        float: none;
        text-align: center;
        margin: 350px;
    }
    .header-img {
        width: 339;
        height: 249;
    }
}

/*tablet*/
/*
@media screen and (min-width:376px) and (max-width:1050px) {
    selector property: value;
}
